.homepage {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url('backgroundweights.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    
  }

  header {
    display: flex;
  }
  
  /* Style the header */
  .homepage-purple-square {
    width: 20px;
    height: 20px;
    background-color: #5a5a89;
    margin-right: 10px;
  }
  
  h1 {
    font-size: 1rem;
    color: #5a5a89;
    font-weight: bold;
    margin-left: 30px;
    position: absolute;
    top: 8px;
  }

  /* Style the buttons */
  .homepage-buttons button {
    margin-top: 25px;
    margin-left: 70px;
    background-color: #5a5a89;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 20px 80px;
    cursor: pointer;
    z-index: 100;
  }
  
  /* Add hover effects for buttons */
  .homepage-buttons button:hover {
    background-color: #0e0829; /* Darker blue on hover */
  }
  
footer {
  font-size: 1rem;
  color: #333;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 40px 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1;
}

 h2, p {
  margin: 0;
  margin-bottom: 10px;
}

 p {
  margin-left: 10px;
}

.welcome-section h2 {
  font-size: 10rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.welcome-section p {
  font-size: 2rem;
}
.welcome-section {
  padding-top: 80px;
}

.weight {
  position: absolute;
  right: 80px;
  bottom: 170px;
  width: 550px;
  height: auto;
  z-index: 1;
}
  